body, html {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: black;
    display: inline-block;
}

p {
    font-size: 0.8vw;
    color: black;
    text-align: center;
}

h1 {
    background-color: transparent;
    text-align: center;
    font-size: 5vw;
}

h3 {
    font-size: 1.1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

div[type="infobox"] {
    width: 15vw;
    display: inline-block;
    margin-right: 5vw;
}

div[type="logo"] {
    display: inline-block;
}

div[type="header"] {
    display: inline-block;
    align-items: center;
    /*background-image: url('https://sudoku.cyclic.app/sudoku.gif');*/
}

div[type="links"] {
    display: inline-block;
}

div[type="empty"] {
    width: 100%;
    height: 6vw;
}

div[type="container"] {
    display: flex;
    justify-content: center;
  }


div[type="content"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set a fixed height for the container */
  }

.crossword {
    display: inline-block;
    border-collapse: collapse;
}

.row {
    display: flex;
}

input[type="hint"] {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
    pointer-events: none;
}

input[type="placeholder"] {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #ffffff;
    font-size: 15px;
    pointer-events: none;
}

input[type="text"] {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 40px;
    pointer-events: none;
}

input[type="number"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-top"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-top-left"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-top-right"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-bottom"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-bottom-left"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-bottom-right"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-left"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none;
}

input[type="number-right"] {
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 20px;
    pointer-events: none
}

input[type="sudoku"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-top"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-top-left"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-top-right"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-top: 5px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-bottom"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-bottom-left"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-bottom-right"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-left"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
    font-size: 2vw;
}

input[type="sudoku-right"] {
    width: 5vw;
    height: 5vw;
    text-align: center;
    border: 1px solid #ccc;
    border-right: 5px solid #ccc;
    font-size: 2vw;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]::-moz-inner-spin-button,
input[type="text"]::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}

button {
    width: 15vw;
    height: 2.3vw;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
  
button {
    transform: translateY(-2px);
}
  
  

button[type="main-button"] {
    width: 90%;
    height: 3vw;
    font-size: 1.6vw;
}

img[type="display"] {
    display: inline-block;
    height: 20vw;
    align-self: center;
    margin-right: 5vw;
}

select {
    width: 200px;
    height: 50px;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

option {
    background-color: #ffffff;
    color: black;
}

.header {
    background-color: white;
    text-align: center;
    width: max-content;
    height: 50%px;
    border-bottom: 2px;
}

.solver {
    text-align: center;
    color: white;
}

.sudoku {
    text-align: center;
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    bottom: 0;
}

section {
    width: 100%;
    height: 100vh; /* This ensures the section takes the full viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
  }